/*===== CSS ADJUSTMENTS ======*/

h1 {
    line-height: 30px;
    font-weight: 900;
    font-size: 50px;
    color: #00008B;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 30px;
    color: #A9A9A9;
    font-family: Arial, Helvetica, sans-serif
    
}

h4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 0%;
    color: #00008B;
}

h5 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 0%;
    color: #00008B;
}

h6 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 0%;
    color: #fff;
    text-shadow: #000;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.navbar {
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    background-color: #00008B;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: center;
    display: inline-block;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #FFD700;
    color: #000;

}

#home {
    margin-top: 80px;
}

.container {
    width: 750px;
    height: 1334px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -200px;
    text-align: center;
    padding: 0;
    z-index: -4;
}

.container img {
    filter: grayscale(100%);
    max-width: 80%;
    height: auto;
    border-radius: 25px;
    border: 10px solid #00008B;
}

.overlay-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.image {
    display:block;
    width: 100%;
    height:auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00008B;
}

.overlay-container:hover .overlay {
    opacity: 1;
}

.text-overlay {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
    text-align: center;
    
}

blockquote {
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
    padding: 0 350px 10px;
}

.quote {
    font-style: italic;
    text-align: right;    
}

.two-columns {
    display: flex;
    margin: 0 250px;
    text-align: justify;
}

.two-columns > * {
    width: 50%;
    padding: 1rem;
}

.text-container {
    margin: 0 250px;
}

#p-hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#p-hover:hover {
    background-color: #FFD700;
    cursor: pointer;
}

.footer {
    text-align: center;
    font-weight: bold;
}

.table-container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 350px 50px;
}

table {
    font-family:Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ddd;
}

.photo-container {
    position: relative;
    text-align: left;
    color: white;
    margin: 15px auto;
    width: 1000px;
    height: 520px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    padding: 10px 30px;
    top: 8px;
    left: 16px;
}

.video-container {
    margin: 0 350px;
    position: relative;
    text-align: center;
}

.video-overlay {
    color: #fff;
    position: absolute;
    top: 8px;
    right: 16px;
}